<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Vizitkovník</title>
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	<div id="banner">
		<div>
			<h1 n:block=title>Vizitkovník</h1>
			{if $user->loggedIn}<a n:href="Logout!" class="logout"><button>Odlhásit se</button></a>{/if}
		</div>

	</div>
	{include content}

	{block scripts}
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	{/block}
	<div class="foot"><p>Oldřich Koutecký 2021</p></div>
</body>
</html>

<style>
    html { font: normal 18px/1.3 Georgia, "New York CE", utopia, serif; color: #666; -webkit-text-stroke: 1px rgba(0,0,0,0); overflow-y: scroll; }
    body { background: darkgrey; color: #333; margin: 2em auto; padding: 0 .5em; max-width: 1400px; min-width: 320px; }

    a { color: #006aeb; padding: 3px 1px; }

    #banner { border-radius: 12px 12px 0 0; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAB5CAMAAADPursXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGBQTFRFD1CRDkqFDTlmDkF1D06NDT1tDTNZDk2KEFWaDTZgDkiCDTtpDT5wDkZ/DTBVEFacEFOWD1KUDTRcDTFWDkV9DkR7DkN4DkByDTVeDC9TDThjDTxrDkeADkuIDTRbDC9SbsUaggAAAEdJREFUeNqkwYURgAAQA7DH3d3335LSKyxAYpf9vWCpnYbf01qcOdFVXc14w4BznNTjkQfsscAdU3b4wIh9fDVYc4zV8xZgAAYaCMI6vPgLAAAAAElFTkSuQmCC); }

    h1 { font: inherit; color: white; font-size: 50px; line-height: 121px; margin: 0; padding-left: 4%; background-size: 130px auto; text-shadow: 1px 1px 0 rgba(0, 0, 0, .9); }
    @media (max-width: 600px) {
        h1 { background: none; font-size: 40px; }
    }

    #content { background: white; border: 1px solid #eff4f7; border-radius: 0 0 12px 12px; padding: 10px 4%; overflow: hidden; text-align: center;}

    .flash{ background: antiquewhite; margin-bottom: 15px; padding: 10px;}

    img { border: none; float: right; margin: 0 0 1em 3em; }

	.goBack{ float: left; }
	button { margin: 10px; padding: 7px;}

	tr { padding: 10px;}
	.formDiv td { float: left;}
	th { text-align: left}

	.formDiv { width: 50%; margin: 0 auto; }
    .businessCard { border: 1px solid black; margin-bottom: 15px; margin-right: auto; margin-left:auto; padding: 10px; width: 500px;}
	.cardMiddle { margin-left: auto; margin-right: auto; text-align: center}

	.foot { text-align: center; }
</style>
