{block content}

<div id="content">
	<a n:href="NewBusinessCard! "><button>Nová vizitka</button></a>
	{if empty($userBusinessCards)}
		<p>Nemáte žádné vizitky</p>
	{else}
		<div class="businessCardDiv" n:foreach="$userBusinessCards as $businessCardID => $values">
			<a n:href="EditBusinessCard! , id => $businessCardID" >Upravit</a>
			<a n:href="DeleteBusinessCard! , id => $businessCardID" >Smazat</a>
			{include '../components/businessCard.latte', values => $values}
		</div>
	{/if}
</div>
